.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
   
}
.imge {
    padding: 10px;
    width: 50%;
    height: 50%;
   
    
  }